body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight:lighter;
    font-style:normal;

    padding: 10rem 25rem;
    font-size: 1.8rem;
}

h1 {
    font-size: 4.2rem;
}

h2 {
    font-size: 2.2rem;
}

ul {
    list-style-type: none; 
    padding: 0;
    margin: 8px;
    padding-bottom: 1.8rem;
}

li {
    margin-bottom: 0.5rem;
}

.section-main {
    padding-bottom: 10rem;
}

.btn {
    background-color: white;
    border-width: 0;
}

.btn img {
    height: 2rem;
}

@media (max-width: 1200px) {
    body {
        padding: 10rem 1rem;
        font-size: 1.6rem;
    }

    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 1.8rem;
    }
  }